@page "/"
@attribute [Authorize]
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager Navigation


<PageTitle>Home</PageTitle>

<p>@AuthState</p>

@code {
    private string AuthState = "未登录";
    protected override async Task OnInitializedAsync()
    {
        await CheckAuthState();
    }

    private async Task CheckAuthState()
    {
        var state = await AuthProvider.GetAuthenticationStateAsync();
        var user = state.User;
        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            AuthState = $"用户已登录，用户名：{user.Identity.Name}";
        }
        else
        {
            AuthState = "登录失败！";
        }
    }
}